<!-- templates/about.html -->
{% extends 'base.html' %}
{% block titulo %}Acerca de{% endblock titulo %}
{% block contenido %}
<div class="container fondo-semi-transparente" >
  <h2 class="titulos-subtitulos">Acerca de nuestro Blog de Cocina</h2>
  <p class="parrafos">Bienvenido a nuestro Blog de Cocina. Aquí encontrarás una deliciosa selección de recetas, consejos culinarios y artículos relacionados con el maravilloso mundo de la gastronomía.</p>
  <p class="parrafos">Explora nuestras recetas creativas y saborea los platos más exquisitos y nutritivos. Nuestro objetivo es inspirarte en la cocina y ayudarte a convertirte en un maestro culinario.</p>
  <h3 class="titulos-subtitulos">Nuestro Equipo</h3>
  <p class="parrafos">Este proyecto fue llevado a cabo por el Grupo 8, integrado por:</p>
  <ul class="listas">
    <li>Acevedo, Ariel</li>
    <li>Foulkes, Pablo</li>
    <li>Gallardo, Benjamin</li>
    <li>González, Juan Manuel</li>
    <li>Jonas, Christian</li>
    <li>Kees, Herana</li>
    <li>Ojeda, Hector</li>
    <li>Soloaga, Javier</li>
  </ul>
  <h3 class="titulos-subtitulos">Sobre la Web</h3>
  <h4 class="titulos-subtitulos">Roles en el Blog</h4>
  <p class="parrafos">En nuestro blog, tenemos tres roles diferentes para nuestros visitantes:</p>
  <ul class="listas">
    <li><strong>Visitante:</strong>Pueden explorar el contenido del blog. La web cuenta con una organización y opciones para filtrar el contenido que ayudarán en la navegación.
                                    Por si lo desean se les habilitará una opción para poder registrarse en la web.</li>
    <li><strong>Usuario Registrado:</strong>Son quienes poseen una cuenta registrada en el blog, si inician sesión en la web con la misma podrán contar con la opcion de comentar en los posteos del Blog.
                                            Estos podrán ser editados y borrados</li>
    <li><strong>Colaborador:</strong>Serán usuarios registrados a los que se les brindará la posiblidad de trabajar en el contenido del Blog.
                                    Contarán con permisos para crear, editar y eliminar su propio contenido(articulos, recestas, etc.).
                                    De la misma forma con los comentarios asociados a su post.
                                    Por último tambien podrán crear y agregar categorías nuevas de contenido para el blog. Por ejemplo la categoría "reseñas", la cual se referiría a posteos con opiniones sobre alguna comida, restaurante, etc. </li>
  </ul>
  <h4 class="titulos-subtitulos">Contenido del Blog</h4>
  <p class="parrafos">En nuestro Blog de Cocina, encontrarás:</p>
  <ul class="listas">
    <li>Recetas para todos los niveles, desde principiantes hasta expertos.</li>
    <li>Consejos y trucos para mejorar tus habilidades culinarias.</li>
    <li>Artículos sobre ingredientes, utensilios de cocina y técnicas de cocina.</li>
    <li>Historias inspiradoras de chefs y amantes de la cocina.</li>
    <li>Y mucho más.</li>
  </ul>
</div>
{% endblock contenido %}
