{% extends 'base.html' %}

{% block titulo %}Categorias{% endblock titulo %}

{% block contenido %}
<!-- Categorías -->
<div class="row my-4 text-center">

  {% for categoria in categorias %}

  <div class="col md-4">
  
    <div class="card-categorias fondo-semi-transparente">
  
      <div class="card-body">
  
        <h2 class="titulos-subtitulos">{{categoria.nombre}}</h2>
        <div class="image-wraper">
          <img src="{{categoria.icono.url}}" alt="{{categoria.nombre}}" class="card-img-top rounded-square-image my-2">
        </div>
        <a href="{% url 'articulos_por_categoria' categoria.id %}" class=" btn btn-primary "> Ver articulos</a>
  
      </div>
  
    </div>
  
  </div>
  
  {% endfor %}

</div>
{% endblock contenido %}