{% extends 'base.html' %}
{% load static %}

{% block titulo %}Home{% endblock titulo %}

{% block contenido %}
    <h1>Home</h1>
    <p>Esta es la página de inicio</p>
    <img src="{% static 'img/favicon.ico' %}" alt="imagen">

    <div class="submenu">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-btn px-3" type="button">Primary</button>
            <button class="dropdown-btn">Ordenar</button>
            <div class="dropdown-content">
                    <ul class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow w-220px" data-bs-theme="light">
                      <li><a class="dropdown-item rounded-2 active" href="#">Action</a></li>
                      <li><a class="dropdown-item rounded-2" href="#">Another action</a></li>
                      <li><a class="dropdown-item rounded-2" href="#">Something else here</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item rounded-2" href="#">Separated link</a></li>
                    </ul>

            </div>
        </div>
    </div>

{% endblock contenido %}
