body {
  background-image: url("/static/img/kitchen.jpg");
  /* background-repeat: no-repeat;
  background-size: cover; */
}

.titulos-subtitulos{
  color: #e67104f1;
  -webkit-text-stroke: 1px #000; /* Borde de 1px de grosor en color negro */
  
}

.parrafos{
  color: #fff6f6;
}

.listas{
  color: #fff6f6;
}

/* Estilo para un área con fondo semitransparente */
.fondo-semi-transparente {
  background-color: rgba(172, 164, 164, 0.6); /* Fondo blanco con opacidad del 70% */
  padding: 10px; /* Ajusta el padding según tus necesidades */
  border: 2px solid #333131;
}

/* styles.css */
.rounded-square-image {
  width: 200px; /* Ajusta el ancho según tus necesidades */
  height: 200px; /* Ajusta la altura según tus necesidades */
  border-radius: 50%; /* Redondea la imagen para formar un círculo */
  object-fit: cover; /* Establece el formato cuadrado, recortando la imagen si es necesario */
}

.fondo-transparente {
  background-color: transparent;
}

.card-categorias{
  max-width: 250px; /* Puedes ajustar este valor según tus necesidades */
  margin: 0 auto; /* Centrar horizontalmente las tarjetas */
}


/* Estilo para el contenedor del texto dentro de las tarjetas */
.texto-tarjeta {
  max-height: 100%; /* Puedes ajustar este valor según tus necesidades */
  overflow: hidden; /* Ocultar el contenido que supere la altura máxima */
}


/* Estilo para la clase aspect-ratio */
.aspect-ratio {
  position: relative;
  width: 100%;
}
.aspect-ratio-1x1 {
  padding-bottom: 100%; /* Relación de aspecto 1:1 (cuadrado) */
}
.aspect-ratio-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Para recortar la imagen y mantener el aspecto */
}

/* Estilo para reducir el margen entre las tarjetas */
.card-filtros {
  margin-bottom: 0.5rem;
}

/* css christian */

/* General Styles */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3370d; /*no hace nada*/
}

/* HEADER */

.title h1 {
  padding: 10px 0;
  text-align: center;
  font-size:10px;
  text-transform: uppercase;
}

/* CONTAINER */

.container {
  width: 90%;
  max-width: 1000px;
  margin: 1.6em auto;
  display: grid;
  gap: 1.6em;
  /* grid-template-columns: repeat(4, 1fr) 3%; */
  grid-template-columns: repeat(8, 1fr);

  height: 100%; /* O ajusta la altura que desees */
  margin-bottom: 0; /* Evita un margen inferior grande */
  
}

.container>.header, .container>.content, .container>.sidebar, .container>.footer, .container>div {
  background: #eee7e78b;
  padding: 20px;
  border: 2px solid #000000;
}

.container>.header, .container>.footer {
  grid-column: 1/-1;
  background-color: #7711c5;
  color: #ffffff;
}

.container>.content {
  grid-column: span 6;
  grid-row: span 5;
  margin-left: 0;
}

.container>.content2 {
  grid-column: span 8;
  grid-row: span 5;
  margin-left: 0;
}

.content>.article {
 background: #00040746;
  padding: 20px;
  margin-top: 5px;
  color: #00090d
}

.content .article h1,
.content .article p {
  padding: 10px;
}

.container>.sidebar {
  grid-column: span 2;
  grid-row: span 4;
  
  display: block;
  align-items: center;
  justify-content: center;
}

.container .sidebar img {
  display: block;
  width: 100%;
  margin-top: 5px;
}

.container>.related-post {
  background: #98d7e8;
  color: #ffffff;
  height: 100%;
  ;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
 
}


.container>.related-post:hover {
  cursor: pointer;
  color: #000000;
  background: #ffffff;

}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .header {
      text-align: center;
  }
  .container .content {
      grid-column: 1 / -1;
  }
  .container .content2 {
    grid-column: 1 / -1;
}
  .container .sidebar {
      grid-column: 1 / 6;
  }

  .container .related-post {
      grid-column: 1/-1;
  }
}

