body {
  background-image: url("/static/img/kitchen.jpg");
  /* background-repeat: no-repeat;
  background-size: cover; */
}

.titulos-subtitulos {
  color: #ff7b00e0;
  -webkit-text-stroke: 1px #000000e5
}

.parrafos {
  color: #000000;
  -webkit-text-stroke: 0.5px #0f0d0ce5
}

.listas {
  color: #000000;
  -webkit-text-stroke: 0.5px #0a0909e5
}

/* Estilo para un área con fondo semitransparente */
.fondo-semi-transparente {
  background-color: rgba(
    172,
    164,
    164,
    0.9
  ); /* Fondo blanco con opacidad del 70% */
  padding: 10px; /* Ajusta el padding según tus necesidades */
  border: 2px solid #333131;
  border-radius: 10px;
}

/* styles.css */
.rounded-square-image {
  width: 200px; /* Ajusta el ancho según tus necesidades */
  height: 200px; /* Ajusta la altura según tus necesidades */
  border-radius: 50%; /* Redondea la imagen para formar un círculo */
  object-fit: cover; /* Establece el formato cuadrado, recortando la imagen si es necesario */
}

.fondo-transparente {
  background-color: transparent;
}

/* Estilos para redondear los bordes del fondo blanco */
.bg-white {
  border-radius: 10px; /* Puedes ajustar el valor para redondear más o menos */
}

/* Estilos para redondear los bordes del fondo blanco */
.bg-dark {
  border-radius: 10px; /* Puedes ajustar el valor para redondear más o menos */
}


.centro-imagen {
  display: flex;
  justify-content: center;
}

.img-articulo {
  height: 200px; /* Establece una altura específica */
  object-fit: cover; /* Ajusta la imagen manteniendo la relación de aspecto y recortando si es necesario */
  border-radius: 5px 5px 0px 0px; /* Redondea los bordes de la imagen */
}

/* Estilos para las categorías */
.card-categorias {
  height: 100%;
}

/* Establece un tamaño fijo para las imágenes */
.card-categorias img {
  height: 150px;
  width: 150px;
  object-fit: cover; /* Ajusta la imagen al tamaño establecido */
}

/* Ajusta el espaciado entre la tarjeta y el botón */
.card-categorias .flex-column {
  margin-bottom: 10px; /* Puedes ajustar este valor según tus necesidades */
}

/* Asegura que el botón ocupe todo el ancho en pantallas pequeñas */
@media (max-width: 767px) {
  .card .btn {
    width: 100%;
  }
}


/* Aumenta el tamaño de la fuente */
.aumentar-fuente {
  font-size: 20px; /* Puedes ajustar este valor según tus necesidades */
}