body {
  background-image: url("/static/img/kitchen.jpg");
}

.titulos-subtitulos{
  color: #e67104f1;
  -webkit-text-stroke: 1px #000; /* Borde de 1px de grosor en color negro */
  
}

.parrafos{
  color: #fff6f6;
}

.listas{
  color: #fff6f6;
}

/* Estilo para un área con fondo semitransparente */
.fondo-semi-transparente {
  background-color: rgba(85, 80, 80, 0.7); /* Fondo blanco con opacidad del 70% */
  padding: 10px; /* Ajusta el padding según tus necesidades */
  border: 2px solid #333131;
}

/* styles.css */
.rounded-square-image {
  width: 200px; /* Ajusta el ancho según tus necesidades */
  height: 200px; /* Ajusta la altura según tus necesidades */
  border-radius: 50%; /* Redondea la imagen para formar un círculo */
  object-fit: cover; /* Establece el formato cuadrado, recortando la imagen si es necesario */
}
