{% extends 'base.html' %} 
{% load static %} 

{% block titulo %}Noticias{% endblock titulo %}

{% block contenido %}
  <h2>Noticias detallada</h2>
  <img
    src="{% static 'img/noticias/'|add:noticia.imagen %}"
    alt="{{ noticia.titulo }}"
    width="50%"
  />
  <p>TITULO: {{noti.titulo}}</p>
  <p>FECHA: {{ noticia..fecha_publicacion }}</p>
  <p>CATEGORIA: {{ noticia.categoria_noticia }}</p>
  <p>CONTENIDO: {{ noticia.contenido }}</p>
  <br> 
  <a href="{% url 'noticias:listar' %}">Volver</a>

{% endblock contenido %}
