{% extends 'base.html' %}

{% block titulo %}Borrar Comentario{% endblock titulo %}

{% block contenido %}
  <div class="card container p-4 fondo-semi-transparente">
    <h2>Borrar Comentario</h2>
    <p>¿Estás seguro de que deseas borrar este comentario?</p>
    <form method="post">
      {% csrf_token %}
      <button class="btn btn-danger me-1" type="submit">Confirmar</button>
      <a class="btn btn-light" href="{% url 'detalle_articulo' articulo.pk %}">Cancelar</a>
    </form>
  </div>
{% endblock contenido %}