{% extends 'base.html' %}

{% block contenido %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card mb-4">
        <img src="{{ articulo.imagen.url }}" class="card-img-top" alt="{{ articulo.titulo }}" style="max-width: 60%; height: auto;">
        <div class="card-body">
          <h2 class="card-title">{{ articulo.titulo }}</h2>
          <p class="card-text">{{ articulo.contenido }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Categoría: {{ articulo.categoria_articulo }}</h5>
          <p class="card-text">Fecha de publicación: {{ articulo.fecha_publicacion }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}
