{% extends 'base.html' %}
{% block titulo %}Detalle de Articulo{% endblock titulo %}

{% block contenido %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <!-- Contenido del artículo -->
      <div class="card text-center mb-4 fondo-semi-transparente">
        <h2 class="titulos-subtitulos">{{ articulo.titulo }}</h2>
        <div class="container mg-4">
          <div class="centro-imagen">
            <img src="{{ articulo.imagen.url }}" alt="{{ articulo.titulo }}" class="my-3 img-fluid rounded-3">
          </div>
          <div class=" bg-white my-4 rounded p-3">{{articulo.contenido}}</div>
        </div>
      </div>

      <!-- Comentarios -->
      <div class="card container py-3 fondo-semi-transparente">
        <div class="ps-3 mb-0">
          <h3 class="mb-0 titulos-subtitulos">Comentarios</h3>
        </div>
        {% for comentario in articulo.comentarios.all %}
        <div class="container text-dark">
          <div class="row d-flex justify-content-center">
            <div class="col-10">
              <div class="d-flex flex-start pt-3 p-0">
                <img class="rounded-circle shadow-1-strong me-3" src="{{ comentario.autor.imagen.url }}" alt="avatar"
                  width="65" height="65" />
                <div class="card w-100">
                  <div class="card-body p-4">
                    <div class="">
                      <h5>{{ comentario.autor }}</h5>
                      <p class="small">{{ comentario.fecha_creacion.date }} - {{ comentario.fecha_creacion.time }}</p>
                      <p>
                        {{ comentario.contenido }}
                      </p>
                      <div class="d-flex justify-content-end align-items-end">
                        {% if user == comentario.autor or user.is_staff or user.is_colaborador %}
                        <form method="post">
                          {% csrf_token %}
                          <a class="btn btn-outline-dark btn-sm"
                            href="{% url 'detalle_articulo' pk=articulo.id %}?comentario_id={{ comentario.id }}&editar">Editar</a>
                          <a class="btn btn-outline-danger btn-sm"
                            href="{% url 'detalle_articulo' pk=articulo.id %}?comentario_id={{ comentario.id }}&borrar">Borrar</a>
                        </form>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- Formulario para agregar comentario -->
      {% if user.is_authenticated %}
      <h3>Agregar Comentario</h3>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Comentar</button>
      </form>
      {% else %}
      <p>Debes iniciar sesión para agregar comentarios.</p>
      {% endif %}
    </div>
    <div class="col-md-4">
      <!-- Detalles del artículo -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Categoría: {{ articulo.categoria_articulo }}</h5>
          <p class="card-text">Autor: {{ articulo.autor }}</p>
          <p class="card-text">Fecha de publicación: {{ articulo.fecha_publicacion }}</p>
          <!-- Agregar enlaces a las vistas de editar y borrar artículos -->
          {% if user.is_authenticated and user == articulo.autor or user.is_staff or user.is_colaborador %}
          <a class="btn btn-outline-dark btn-sm" href="{% url 'editar_articulo' pk=articulo.id %}">Editar artículo</a>
          <a class="btn btn-outline-danger btn-sm" href="{% url 'borrar_articulo' pk=articulo.id %}">Borrar artículo</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}